@import url("https://fonts.googleapis.com/css2?family=Teachers:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: "Teachers", sans-serif;
}

.menu li > *:not(ul, .menu-title, details, .btn):active,
.menu li > *:not(ul, .menu-title, details, .btn).active,
.menu li > details > summary:active {
    --tw-bg-opacity: 1;
    background-color: #00203f;
    --tw-text-opacity: 1;
    color: white;
}

:where(.menu li:not(.menu-title, .disabled) > *:not(ul, details, .menu-title)):not(.active, .btn):hover,
:where(.menu li:not(.menu-title, .disabled) > details > summary:not(.menu-title)):not(.active, .btn):hover {
    background-color: #00203f;
    color: white;
}

.mainnav {
    transition: 0.3s;
}

a.mainnav.active {
    --tw-bg-opacity: 1;
    background-color: #00203f !important;
    --tw-text-opacity: 1;
    color: white !important;
}

a.mainnav:hover {
    --tw-bg-opacity: 1;
    background-color: #00203f !important;
    --tw-text-opacity: 1;
    color: white !important;
}

.react-datepicker-wrapper {
    width: 100%;
}

.react-datepicker-popper {
    left: 85px;
    top: 85px;
    z-index: 94;
}

.pagination .selected {
    background: #00203f;
    color: white;
}

@keyframes slideUp {
    from {
        transform: translateY(20px);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

.swiper-wrapper {
    width: 100%;
}

.slideup {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.slideup.show {
    opacity: 1;
    transform: translateY(0);
}
